<li>
  <span class="articletitle"><%=review.article_title%></span>
  <span class="content"><%= review.content %></span>
  <span class="tags"> Tags: <%=raw review.tag_list.map {|t| link_to t, tag_path(t)}.join(', ')%>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
  <% if current_user?(review.user) %>
    <%= link_to "delete", review, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: review.content %>
  <%= link_to "edit", edit_review_path(review) %>
  <% end %>
</li>
